
body{
    background-color: #ecdcf9;
    font-family: Alexandria, sans-serif;
}

h1,h2{
    background-color: #68C5DB;
    font-weight: bold; 
}

.social-div{
    position: absolute;
    text-align: right;
}

.social{
    width: 2%;
}

#name{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.titles-right{
    width: 25%;
}

.aboutme{
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.whoami{
    width: 75%;
    display: inline-block;
    text-align: center;
}

#me{
    float: right;
    padding-right: 60;
}

/* Requisitos
Seu Portfólio Web deve ter um layout usando Box Model com as informações a seguir:

Coloque seu nome, sua foto e a descrição que você escreveu sobre você dentro de blocos;

A descrição deve ficar ao lado da foto;

Centralize seu nome na página;

Use padding e coloque uma cor de fundo na sua foto que seja diferente da cor de fundo do resto da página;

Adicione margin e padding nos elementos que julgar necessário;

Coloque estilo somente nos itens ímpares da lista das suas habilidades. */

