*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Alexandria, sans-serif;
    font-weight: 100;
}

/* header */

nav{
    background-color: #686466;
    padding: 16px;
    margin-bottom: 32px;
    text-align: right;
    font-weight: bold;
}

#nav-links li{
    display: inline;
}

nav a {
    font-size: 20px;
    margin: 8px;
    text-decoration: none;
    color: #b1e1e9;
}

nav a:hover{
    color: #f2e4f9 ;
}

/* about me */

#name{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #839cb5;
}

.aboutme h2 {
    margin-bottom: 32px;
}

.aboutme{

    display: inline-block;
    padding: 16px 500px;
    text-align: center;
    margin-bottom: 120px;
    background-color: rgb(228, 228, 255);
}

#trybe{
    text-decoration: none;
    color: green;
}

#trybe:hover{
    color: rgb(64, 252, 136);
}

.whoami{
    width: 75%;
    display: inline-block;
    text-align: center;
}

#me{
    padding-right: 60;
    margin-bottom: 32px;
}


/* skills */

.skills{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 120px;
    margin-bottom: 5%;
    text-align: center;
}

.skills ul li{
    list-style: none;
}

.skills-title{
    margin-bottom: 16px;
}



/* Rodapé */


footer{
    background-color: #686466;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social{
    width: 50px;
}

